<html>
  <head>
    <title>Pay TODO change title</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <main>
      <form action="/charge" method="POST">
      <p>meowmeowmunetoh usnteh ansuthe snatuh snetah usneato husntheao snutheas nuthesano uhts</p>
      <div class="submit">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_DD4UaTHeSAIiDGTU7pt106I4aJuEl"
          data-name="lord.io"
          data-description="2 widgets"
          data-amount="400"
          data-bitcoin="true"
          data-label="Pay Now">
        </script>
      </div>
      </form>
    </main>
  </body>
</html>
