<html>
  <head>
    <title>Pay TODO change title</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <main>
      <form action="/charge" method="POST">
        <label class="form-item">
          <input type="email" id="email" class="text-input" placeholder="Your Email">
        </label>
        <label class="form-item">
          <span>sends</span>
          <input type="text" id="amount" class="text-input" placeholder="Dollar Amount">
        </label>
        <label class="form-item">
          <span>for</span>
          <input type="text" id="reason" class="text-input" placeholder="Reason">
        </label>
        <label class="form-item">
          <button id="customButton">Send Money to Robert</button>
        </label>
      </form>
    </main>
    <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
      var handler = StripeCheckout.configure({
        key: 'pk_DD4UaTHeSAIiDGTU7pt106I4aJuEl',
        token: function(token) {
          $.ajax({
            type: "POST",
            url: '/charge',
            data: {
              stripeToken: token.id,
              stripeEmail: token.email
            },
            success: function() {
              alert('yes!');
            }
          });
        }
      });
      $('#customButton').on('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'Robert Lord',
          description: '2 widgets',
          amount: $("#amount").val() * 100,
          bitcoin: true,
          email: $("#email").val()
        });
        e.preventDefault();
      });

      // Close Checkout on page navigation
      $(window).on('popstate', function() {
        handler.close();
      });
    </script>
  </body>
</html>
