<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_DD4UaTHeSAIiDGTU7pt106I4aJuEl"
    data-name="lord.io"
    data-description="2 widgets"
    data-amount="2000">
  </script>
</form>