@import 'normalize';
@import 'flexbox';

body {
  background-color: #2C2D36;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

main {
  color: #ccc;
  width: 100%;
  max-width: 24em;
}

form {
  background-color: #3E404F;
  padding: 2em;
  border-radius: 5px;
  border: 1px solid #22232B;
  transition: all 400ms;

  &.disabled {
    background-color: transparent;
    border-color: #22232B;
  }
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

@-moz-keyframes drop {
  0% { -moz-transform: scale(4); opacity: 0; }
  100% { -moz-transform: scale(1); }
}
@-webkit-keyframes drop {
  0% { -webkit-transform: scale(4); opacity: 0; }
  100% { -webkit-transform: scale(1); }
}
@keyframes drop {
  0% { transform: scale(4); opacity: 0; }
  100% { transform: scale(1); }
}

button {
  background-color: #18853A;
  border: 1px solid #0D4A21;
  border-radius: 5px;
  padding: 0.6em 1.4em 0.6em 1.4em;
  font-weight: 600;
  margin-top: 1em;
  display: block;
  width: 100%;
  transition: all 400ms;

  &.sending, &.sent, &.error, &.disabled {
    background-color: transparent;
    color: rgba(255,255,255,0.3);
    border-color: #22232B;
  }

  &.sending {
    color: rgba(24, 133, 58, 1);
  }

  &.sending>.sendingIndicator {
    -webkit-animation: spin 400ms linear 0 infinite;
    -moz-animation: spin 400ms linear 0 infinite;
    animation: spin 400ms linear 0 infinite;
    display: inline-block;
    vertical-align: -2px;
  }

  &.sent>.sentIndicator, &.error>.errorIndicator {
    -webkit-animation: drop 200ms ease-in;
    -moz-animation: drop 200ms ease-in;
    animation: drop 200ms ease-in;
    display: inline-block;
  }

  &.error {
    color: rgba(255, 0, 0, 1);
  }
}

.buttonIndicator {
  display: none;
  margin-right: 0.3em;
}

$form-padding: 0.8em;

.form-item {
  padding-top: $form-padding;
  display: block;
  text-align: center;
}

#userAvatar {
  background-image: url(/money.png);
  background-size: contain;
}

.form-item>span {
  display: block;
  margin-bottom: $form-padding;
  color: rgba(255,255,255,0.7);
}

.form-item:first-child {
  padding-top: 0;
}

.text-input {
  background-color: rgba(0,0,0,0.1);
  outline: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 1.29em;
  text-align: center;
  transition: all 400ms;

  &:focus { background-color: rgba(0,0,0,0.2); }

  &.disabled { background-color: rgba(0,0,0,0); }
}

::-webkit-input-placeholder { color: #737373; }
:-moz-placeholder { color: #737373; }
::-moz-placeholder { color: #737373; }
:-ms-input-placeholder { color: #737373; }

.header {
  text-align: center;
  margin-bottom: 3em;
}

.footer {
  text-align: center;
  margin-top: 3em;
  color: rgba(255,255,255,0.2);
}
.footer>a {
  color: rgba(255,255,255,0.4);
}

.header>img {
  vertical-align: middle;
  margin: 0 1em;
}

.arrow {
  width: 17px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}